<div class="row">

    <div class="col">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
                @for (item of this.list; track item) {
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.username}}</td>
                    <td>{{item.password}}</td>
                    <td>
                        <button type="button" class="btn btn-primary" (click) = "update(item)">Edit</button>
                        <button type="button" class="btn btn-danger" (click) = "remove(item)">Remove</button>
                    </td>
                  </tr>    
                }
            </tbody>
        </table>
    </div>
</div>
