<div class="container">

    <div class="row">

        <div class="col-2 border">
            <span class="bg-warning">QUI VA INSERITO IL MENU'</span>
            <ul class="list-group">
                <li class="list-group-item">Crea nuovo utente</li>
                <a href="form">Lista Utenti</a>
                <li class="list-group-item">Lista utenti</li>
                <a href="lista">Lista Utenti</a>
                <li class="list-group-item">-----</li>
                <li class="list-group-item">-----</li>
            </ul>
        </div>
        <div class="col-10 border">
            <span class="bg-warning">QUI VA INSERITO IL CONTENUTO DINAMICO'</span>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>